In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
dataset=pd.read_csv("insurance_pre.csv")

In [6]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
dataset=pd.get_dummies(dataset,drop_first= True)

In [8]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [9]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [10]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [11]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [12]:
dependent=dataset[['charges']]

In [13]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [14]:
from sklearn.ensemble import RandomForestRegressor

In [15]:
from sklearn.model_selection import GridSearchCV

param_grid= {'criterion':['squared_error','absolute_error','friedman_mse','poisson'], 'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)

In [16]:
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [17]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100}:

In [18]:
table=pd.DataFrame.from_dict(re)

In [19]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.690199,0.213474,1.161742,0.578909,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",0.845450,0.760288,0.842280,0.817029,0.815410,0.816091,0.030539,19
1,2.219829,0.178640,0.056290,0.009993,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.841686,0.771671,0.856141,0.819611,0.835666,0.824955,0.029103,11
2,0.262398,0.199473,0.014594,0.012709,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.854367,0.761085,0.852293,0.812725,0.830372,0.822168,0.034152,15
3,1.845380,0.207920,0.069434,0.009366,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.857758,0.783073,0.861523,0.829781,0.837924,0.834012,0.028102,3
4,0.202623,0.047785,0.011760,0.007504,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.840952,0.762221,0.813068,0.802123,0.829163,0.809506,0.027123,23
5,1.599677,0.031591,0.060144,0.015146,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.859114,0.783434,0.862454,0.829189,0.840563,0.834951,0.028492,2
6,0.934525,0.045078,0.011027,0.003706,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",0.812286,0.759793,0.849557,0.815282,0.817600,0.810904,0.028887,22
7,8.805248,0.474132,0.053281,0.016958,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",0.836047,0.761013,0.848676,0.824416,0.837515,0.821533,0.031221,17
8,0.508948,0.014998,0.008003,0.000004,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.850137,0.758337,0.852314,0.813703,0.827233,0.820345,0.034194,18
9,4.749772,0.156667,0.055665,0.024602,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.855002,0.778649,0.858075,0.826613,0.844059,0.832480,0.029081,7
10,0.517094,0.027025,0.018750,0.015305,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.841153,0.761690,0.846575,0.821774,0.840249,0.822288,0.031435,14
11,4.630798,0.093857,0.065935,0.010552,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.856626,0.782271,0.858107,0.826215,0.839115,0.832467,0.027727,8
12,0.324923,0.021218,0.022253,0.022148,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.812951,0.757109,0.837765,0.808349,0.815888,0.806412,0.026646,24
13,1.866946,0.105204,0.062071,0.005995,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.843608,0.772846,0.861648,0.822940,0.836400,0.827488,0.030042,9
14,0.199649,0.018626,0.003126,0.006252,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.849426,0.757663,0.844506,0.805397,0.820751,0.815549,0.033067,20
15,1.403818,0.129823,0.065223,0.041711,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.856915,0.780782,0.857999,0.829781,0.842483,0.833592,0.028363,4
16,0.178774,0.036580,0.006691,0.008224,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.850635,0.768480,0.840806,0.824159,0.826423,0.822101,0.028503,16
17,1.317852,0.104051,0.047183,0.013882,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.861658,0.783208,0.861714,0.829772,0.839174,0.835105,0.028815,1
18,0.294980,0.042108,0.016223,0.017807,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",0.846393,0.764855,0.847020,0.823533,0.830077,0.822376,0.030178,13
19,2.122163,0.141846,0.064334,0.017453,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",0.840370,0.771179,0.858181,0.819099,0.840882,0.825942,0.030055,10
20,0.176895,0.020769,0.020763,0.013347,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.831742,0.757132,0.834524,0.814921,0.816394,0.810943,0.028035,21
21,1.576997,0.103730,0.052965,0.018018,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.862026,0.778530,0.858382,0.830366,0.838301,0.833521,0.029958,5
22,0.185008,0.054768,0.025529,0.019237,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.849695,0.772319,0.846924,0.828705,0.823602,0.824249,0.027852,12
23,1.916623,0.363436,0.110532,0.075119,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.854217,0.782325,0.862861,0.824893,0.840900,0.833039,0.028418,6

In [20]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 Or 1:"))
smoker_yes_input=int(input("Smoker 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 Or 1:0
Smoker 0 or 1:1

In [21]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[44859.838953]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(