In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first= True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train = sc.fit_transform(X_train)
X_test= sc.transform(X_test)

In [13]:
from sklearn.ensemble import RandomForestRegressor

In [14]:
from sklearn.model_selection import GridSearchCV
param_grid= {'criterion':['squared_error','absolute_error','friedman_mse','poisson'], 'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [15]:
re=grid.cv_results_
grid_predictions = grid.predict(X_test)
from sklearn.metrics import  r2_score
r_score=r2_score(Y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'poisson', 'max_features': 'sqrt', 'n_estimators': 100}: 0.871931353084289

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.491245,0.061507,0.070272,0.035258,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",0.778298,0.697685,0.821179,0.776334,0.751323,0.764964,0.040447,24
1,1.707825,0.258466,0.053553,0.026685,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.808095,0.751865,0.836688,0.800817,0.763295,0.792152,0.030882,12
2,0.153978,0.028072,0.007115,0.007493,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.778603,0.739110,0.812560,0.817935,0.721217,0.773885,0.038579,21
3,1.194594,0.127693,0.047653,0.014868,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.805999,0.768036,0.837189,0.831277,0.761515,0.800803,0.031295,5
4,0.219071,0.100986,0.020091,0.032249,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.776019,0.723946,0.802071,0.801097,0.755307,0.771688,0.029511,22
5,1.275879,0.064302,0.058831,0.022294,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.802782,0.768560,0.834606,0.831902,0.759387,0.799447,0.031175,8
6,0.589674,0.037436,0.007104,0.010730,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",0.779518,0.746271,0.802394,0.772249,0.751931,0.770473,0.020166,23
7,5.367548,0.106424,0.062035,0.024821,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",0.786790,0.770801,0.816687,0.797564,0.759186,0.786206,0.020129,14
8,0.404125,0.074672,0.012497,0.018217,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.778177,0.760487,0.827300,0.817053,0.757282,0.788060,0.028933,13
9,3.210006,0.057266,0.024994,0.007653,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.800918,0.773916,0.837578,0.830659,0.763115,0.801237,0.029618,4
10,0.382267,0.042488,0.030274,0.032905,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.781198,0.718641,0.849882,0.811173,0.745983,0.781375,0.046410,17
11,3.179292,0.132917,0.049973,0.025024,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.803812,0.770845,0.841086,0.832358,0.760118,0.801644,0.032177,3
12,0.294271,0.028354,0.001179,0.002358,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.782326,0.721016,0.833490,0.791192,0.754821,0.776569,0.037540,18
13,1.730681,0.147389,0.039257,0.015229,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.806392,0.751598,0.833587,0.809567,0.762111,0.792651,0.030883,10
14,0.161051,0.023556,0.003327,0.006167,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.792900,0.753210,0.831270,0.801889,0.742511,0.784356,0.032565,15
15,1.072192,0.075560,0.056472,0.016156,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.807669,0.771838,0.838320,0.830564,0.762261,0.802130,0.030516,2
16,0.144950,0.016876,0.004622,0.006217,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.791816,0.747925,0.840011,0.797927,0.783344,0.792205,0.029521,11
17,1.181704,0.053120,0.045354,0.024592,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.808306,0.763668,0.831807,0.835768,0.759275,0.799765,0.032675,7
18,0.256000,0.055243,0.002945,0.005891,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",0.796540,0.729003,0.816559,0.783037,0.750726,0.775173,0.031498,20
19,1.615928,0.111134,0.041178,0.025137,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",0.800596,0.749896,0.839297,0.811169,0.763770,0.792946,0.032384,9
20,0.147136,0.024829,0.014622,0.013367,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.755070,0.741378,0.802509,0.822240,0.759440,0.776127,0.030828,19
21,1.418214,0.081246,0.028864,0.012539,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.806501,0.775333,0.834299,0.831013,0.765210,0.802471,0.028174,1
22,0.221652,0.107542,0.021708,0.016595,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.772972,0.772618,0.802266,0.813817,0.759298,0.784194,0.020415,16
23,1.286223,0.099964,0.040475,0.020740,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.803584,0.774297,0.834867,0.833180,0.757695,0.800724,0.030910,6

In [18]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 Or 1:"))
smoker_yes_input=int(input("Smoker 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 Or 1:0
Smoker 0 or 1:1

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[48322.2701567]